<!-- chat.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- List of active chats -->
    <ion-item
      *ngFor="let chat of activeChats"
      (click)="openConversation(chat.id)"
    >
      <ion-avatar slot="start">
        <ion-img [src]="chat.userAvatar"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ chat.userName }}</h2>
        <p>{{ chat.lastMessage }}</p>
        <p class="timestamp">{{ chat.timestamp | date:'mediumTime' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Button to initiate new conversation -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="startNewChat()">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
