<!-- login.page.html -->

<ion-content>
  <ion-content class="ion-padding">
    <ion-grid
      style="
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <ion-row>
        <ion-col size-md="12" size-lg="12" size-xl="12">
          <!-- Your form content goes here -->
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>

          <ion-button expand="full" (click)="login()">Login</ion-button>

          <p>
            Don't have an account?
            <span (click)="goToRegister()" class="register-link"
              >Register here</span
            >.
          </p>
        </ion-col>
      </ion-row></ion-grid
    >
  </ion-content>
</ion-content>
